# Project dependencies
.cache
node_modules

# Coverage directory used by tools like istanbul
coverage

# Build directory
public

# Local plugins used for development
plugins

# enviornment variables config files
.env.*
!.env.sample

\.vscode/settings\.json
