@import '../../styles/variables';
@import '~bulma/sass/elements/icon';

.link {
    .txt {
        display: inline-block;
        position: relative;
        margin: 0 30px;
    }

    .icon {
        display: block;
        position: absolute;
        top: 22px;

        &.right {
            right: 0px;
        }

        &.left {
            left: 0px;
        }
    }
}