@import '../../styles/mixins';

.read-more {
    margin-top: 40px;
    text-align: center;

    a {
        display: inline-block;
    }
}

//992px +
@media #{$md} {
    .read-more {
        margin-top: 0;
        text-align: center;

        a {
            display: inline-block;
        }
    }
}
