/**
* Colour palette
**/
$water :        #43a9b6 !default;
$waterdark :    #218282 !default;
$sand :         #ffffff !default;
$deep :         #44515c !default;
$deeplight :    #517784 !default;
$overlay:       rgba(67,109,82,.2);
