/**
* Colour palette
**/
$water :        #ff0069 !default;
$waterdark :    #CE1055 !default;
$sand :         #dbdcd1 !default;
$deep :         #000 !default;
$deeplight :    #131313 !default;
$overlay:       rgba(75,75,75,.3);
