@import 'colours';
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$primary:                 $water;
$primary-invert-invert:   findColorInvert($water);
$dark:                    $deep;
$dark-invert:             findColorInvert($deep);
$background:              $deeplight;
$background-invert:       findColorInvert($deeplight);
$link:                    $water;
$link-invert:             findColorInvert($water);
$link-hover:              $waterdark;
$link-hover-invert:       findColorInvert($waterdark);
$link-active:             $water;

$family-primary: "Montserrat", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

@import "node_modules/bulma/sass/utilities/derived-variables";

$footer-background-color: $deep;
$navbar-item-active-color: $water;
