@import '../../styles/variables';
@import '~bulma/sass/utilities/mixins';
@import '~bulma/sass/components/navbar';
@import '~bulma/sass/elements/container';

.navbar {
  background-image: linear-gradient(to bottom,
    rgba(128, 128, 128, 1) 0%,
    rgba(128, 128, 128, 0) 100%);
  box-shadow: none;
  background-color: transparent;

  .navbar-burger {
    color: white;
  }

  .navbar-brand {
    .navbar-item {
      img {
        max-height: 2.5rem;
      }
    }
  }

  &.is-active {
    background-image: none;
    background-color: white;

    .navbar-brand {
      img {
        filter: none;
      }
    }

    .navbar-burger {
      color: #4a4a4a;
    }

    .navbar-item {
      color: #4a4a4a;

      &.is-active {
        color: $water;
        font-weight: normal;
      }

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  .navbar-dropdown {
    .navbar-item {
      color: $deeplight;
      &:hover {
        color: $water;
        background-color: $sand;
      }
    }
  }

  .navbar-item {
    font-size: 1.5rem;
    color: white;

    img {
      filter: brightness(0) invert(1);
    }

    &:hover {
      color: $water;
      background-color: transparent;
    }

    &.is-active {
      color: white;
      font-weight: bold;

      &:hover {
        color: $water;
      }
    }
  }
}

@media only screen and (min-width : "992px") {
  .navbar {
    .navbar-brand {
      .navbar-item {
        img {
          max-height: 4rem;
        }
      }
    }

    .navbar-burger {
      height: 5.25rem;
      width: 4.25rem;
    }
  }
}
