@import '../../styles/variables';
@import '~bulma/sass/utilities/mixins';
@import '~bulma/sass/components/navbar';
@import '~bulma/sass/elements/container';

.navbar {
  background-image: linear-gradient(to bottom,
      rgba(128, 128, 128, 1) 0%,
      rgba(128, 128, 128, 0) 100%);
  box-shadow: none;
  background-color: transparent;

  .navbar-burger {
    color: white;
  }

  &.is-active {
    background-image: none;
    background-color: white;

    .navbar-burger {
      color: #4a4a4a;
    }

    .navbar-item {
      color: #4a4a4a;

      &.is-active {
        color: $water;
      }

      img {
        filter: unset;
      }
    }
  }

  .navbar-dropdown {
    .navbar-item {
      color: $deeplight;
    }
  }

  .navbar-item {
    font-size: 1rem;
    font-weight: 600;
    color: white;

    img {
      filter: brightness(0) invert(1);
      max-height: unset;
    }

    &:hover {
      color: $water;
      background-color: transparent;
    }

    &.is-active {
      color: white;
      font-weight: bold;

      &:hover {
        color: $water;
      }
    }
  }
}

@include until($navbar-breakpoint) {
  .navbar {
    .navbar-item {
      &.has-dropdown {
        .navbar-link {
          &::after {
            content: none;
          }
        }
      }
    }
  }
}

@include from($navbar-breakpoint) {
  .navbar {
    .navbar-item {
      &.has-dropdown {
        color: white;

        .navbar-link {
          color: white;

          &::after {
            border-color: white;
          }
        }

        &:hover,
        &.is-active {
          .navbar-link {
            color: $water;
            background-color: transparent;

            &::after {
              border-color: $water;
            }
          }
        }
      }
    }

    .navbar-brand {
      .navbar-item {
        img {
          max-height: 4rem;
        }
      }
    }

    .navbar-burger {
      height: 5.25rem;
      width: 4.25rem;
    }
  }

  .navbar-dropdown {
    a {
      &.navbar-item {
        &:hover {
          background-color: inherit;
          color: $water;
        }
      }
    }
  }
}
