.masonry {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 0;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media only screen and (min-width: 1024px) {
    .masonry {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

.masonry-item,
.masonry-content {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.masonry-item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
}

.masonry-item--details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 3px 3px 3px 15px;
    background: rgba(75, 75, 75, 0.8);
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 1px 1px #000;
}
